<nav class="navbar navbar-default" *ngIf="isAuthenticated">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a id="profilelink" routerLink="profile" class="navbar-brand">Clock Manager</a>
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav">
        <li id="overviewlink" routerLinkActive="active"><a routerLink="overview">Overview</a></li>
        <li id="clockinglink" routerLinkActive="active"><a routerLink="clocking">Clocking</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a id="profile-dropdown" style="..." class="dropdown-toggle" role="button">Profile <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="edit-profile" style="..." (click)="onEditProfile()">Edit</a></li>
            <li><a id="logout" style="..." (click)="onLogout()">Logout</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown" appDropdown>
          <a id="admin-dropdown" style="..." class="dropdown-toggle" role="button">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="manage-departments" style="..." (click)="onManageDepartments()">Manage departments</a></li>
            <li><a id="manage-activities" style="..." (click)="onManageActivities()">Manage activities</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
