<div class="container">
  <div class="row">
    <div class="signup-form">
      <div class="alert alert-danger" *ngIf="error">
        Wrong username/password provided
      </div>
      <div class="alert alert-success" *ngIf="userRegistrationSuccess">
        Registration Successful
      </div>
      <form #f="ngForm" (ngSubmit)="onSignIn(f)">
        <h2>Sign in</h2>
        <p class="hint-text">Sign in with your personal account</p>
        <div class="form-group">
          <input type="username" class="form-control" name="username" placeholder="Username" required ngModel>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password" required ngModel>
        </div>
        <hr>
        <div class="form-group">
          <button [disabled]="!f.valid" type="submit" class="btn btn-success btn-lg btn-block">Sign in</button>
        </div>
      </form>
      <div class="text-center">Don't have an account yet? <a routerLink="/signup">Sign up here!</a></div>
    </div>
  </div>
</div>

