<hr>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Starttime</th>
    <th scope="col">Endtime</th>
    <th scope="col">Total Working Hours</th>
    <th scope="col">Department</th>
    <th scope="col">Activity</th>
  </tr>
  </thead>
<!--  <tbody *ngFor="let workTimeRegistration of workTimeRegistrations">-->
<!--  <tr>-->
<!--    <td>{{ workTimeRegistration.workingDayDate }}</td>-->
<!--    <td>{{ workTimeRegistration.startTime }}</td>-->
<!--    <td>{{ workTimeRegistration.endTime }}</td>-->
<!--    <td>{{ workTimeRegistration.totalWorkingHours }}</td>-->
<!--    <td>{{ workTimeRegistration.department }}</td>-->
<!--    <td>{{ workTimeRegistration.activity }}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
  <tbody>
  <tr>
    <td>30-10-2019</td>
    <td>07:40</td>
    <td>16:40</td>
    <td>9</td>
    <td>Office</td>
    <td>Administration</td>
  </tr>
  </tbody>
</table>
<hr>
<div class="row">
  <div class="col-xs-12">
    <form #f="ngForm" (ngSubmit)="onGetOverview(f)">
      <div class="row">
        <div class="col-sm-3 form-group">
          <label for="startdate">Startdate</label>
          <input type="date" id="startdate" class="form-control">
        </div>
        <div class="col-sm-3 form-group">
          <label for="enddate">Enddate</label>
          <input type="date" id="enddate" class="form-control">
        </div>
        <div class=" col-sm-3 form-group">
          <button class="btn btn-primary" type="submit">Fetch overview</button>
          |
          <button class="btn btn-danger">Clear overview</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>


