<hr>
<div id="tableempty" class="alert alert-info" *ngIf="!workTimeRegistrations">
  Overview is empty, please specify dates and click on the `Fetch Overview` button or click the `Fetch all` button
</div>
<table id="worktimeregistrationstable" class="table table-striped" *ngIf="workTimeRegistrations">
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Start time</th>
    <th scope="col">End time</th>
    <th scope="col">Total Working Hours</th>
    <th scope="col">Department</th>
    <th scope="col">Activity</th>
  </tr>
  </thead>
  <tbody id="tablecontent" *ngFor="let workTimeRegistration of workTimeRegistrations">
  <tr id="tablerow">
    <td id="date">{{ workTimeRegistration.workingDayDate | date : "dd-MM-y" }}</td>
    <td>{{ workTimeRegistration.workingDayStartTime }}</td>
    <td>{{ workTimeRegistration.workingDayEndTime }}</td>
    <td>{{ workTimeRegistration.totalWorkingHours }}</td>
    <td>{{ workTimeRegistration.activity.department.name }}</td>
    <td>{{ workTimeRegistration.activity.name }}</td>
  </tr>
  </tbody>
</table>
<hr>
<div class="container">
  <div class="row">
    <form id="fetch-overview-by-date-form" #f="ngForm" (ngSubmit)="onGetOverview(f)">
      <div class="col-sm-3 form-group">
        <label for="startdate">Startdate</label>
        <input type="date" id="startdate" class="form-control" name="begindate" #startdate='ngModel' ngModel required>
      </div>
      <div class="col-sm-3 form-group">
        <label for="enddate">Enddate</label>
        <input type="date" id="enddate" class="form-control" name="enddate" #enddate='ngModel' ngModel required>
      </div>
      <div class="col-sm-3 form-group">
        <button class="btn btn-success" id="fetch" type="submit" [disabled]="!f.valid || startdate.value > enddate.value">Fetch overview</button>
      </div>
    </form>
    <div class="col-sm-8">
      <button id="fetchall" class="btn btn-primary" [disabled]="workTimeRegistrations" (click)="onGetAll()">Fetch all</button>
      |
      <button id="clearoverview" class="btn btn-danger" [disabled]="!workTimeRegistrations" (click)="onClearOverview()">Clear overview</button>
    </div>
  </div>
</div>
<hr>


