<div class="container">
  <div class="row">
    <form #f="ngForm" (ngSubmit)="onAddWorkTimeRegistration(f)">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="activity">Activity</label>
          <div class="alert alert-danger" *ngIf="!activities">
            Error while loading available activities
          </div>
          <select id="activity" class="form-control" name="activity" [ngModel]="defaultActivity" *ngIf="activities">
            <option *ngFor="let activity of activities" [ngValue]="activity">
              {{ activity.name }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
