<div class="signup-form">
  <form #f="ngForm" (ngSubmit)="onUpdateWorkTimeRegistration(f)">
    <div class="row">
      <div class="col-xs-3">
        <p> working day date: {{ worktimeRegistration.workingDayDate | date : "dd-MM-y" }}</p>
      </div>
      <div class="col-xs-3 pull-right">
        <p> Amounf of working hours: {{ worktimeRegistration.totalWorkingHours }} hours</p>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-4">
          <label for="activity">Activity</label>
          <div class="alert alert-danger" *ngIf="!activities">
            Error while loading available activities
          </div>
          <select id="activity" class="form-control" name="activity" [ngModel]="defaultActivity" *ngIf="activities">
            <option *ngFor="let activity of activities" [ngValue]="activity">
              {{ activity.name }}
            </option>
          </select>
        </div>
        <div class="col-xs-3">
          <label for="workingdaydate">Working day date</label>
          <div class="input-group datepicker">
            <input type="date" id="workingdaydate" class="form-control" name="workingDayDate"
                   [ngModel]="worktimeRegistration.workingDayDate">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </div>
        <div class="col-xs-2">
          <label for="starttime">Start time</label>
          <div class="input-group clockpicker">
            <input type="time" id="starttime" class="form-control" name="workingDayStartTime"
                   [ngModel]="worktimeRegistration.workingDayStartTime">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span></span>
          </div>
        </div>
        <div class="col-xs-2">
          <label for="endtime">End time</label>
          <div class="input-group clockpicker">
            <input type="time" id="endtime" class="form-control" name="workingDayEndTime"
                   [ngModel]="worktimeRegistration.workingDayEndTime">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-xs-12">
          <input type="submit" class="btn btn-success" value="Update changes" [disabled]="!f.valid || !f.dirty">
          <button class="btn btn-danger pull-right" (click)="onDeleteWorkTimeRegistration()">Delete entry</button>
        </div>
      </div>
    </div>
  </form>
</div>
