input.ng-invalid.ng-touched {
  border: 1px solid red;
}

img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  background-image:url('//placehold.it/100');
}
