<div class="text-center" *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="container" *ngIf="!loading">
  <h1>Profile</h1>
  <hr>
  <div class="row">
    <form #f="ngForm" (ngSubmit)="onSubmitEdittedProfilePic(f)">
      <div class="col-md-3">
        <div class="text-center">
          <img [src]="url" class="avatar img-circle" alt="">
          <h6>Upload a different photo...</h6>
          <input type="file" accept="image/*" class="form-control" (change)="processFile($event)">
          <hr>
          <button class="btn btn-primary">Upload new profile picture</button>
        </div>
      </div>
    </form>
    <div class="col-md-9 personal-info">
      <div class="alert alert-success" *ngIf="userUpdateSuccess">
        Profile updated successfully
      </div>
      <div class="alert alert-danger" *ngIf="error">
        Profile could not be updated
      </div>
      <h3>Personal info</h3>
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmitEdittedProfile(f)">
        <div class="form-group">
          <label class="col-lg-3 control-label">First name</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" name="firstname" [ngModel]="currUser.firstname">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" name="lastname" [ngModel]="currUser.lastname">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label" for="department">Department</label>
          <div class="alert alert-danger col-lg-8" *ngIf="!departments">
            Error while loading available Departments
          </div>
          <div class="col-lg-8">
            <select id="department" class="form-control" name="department" [ngModel]="defaultDepartment"
                    *ngIf="departments">
              <option *ngFor="let department of departments" [ngValue]="department">
                {{ department.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" name="email" email [ngModel]="currUser.email" #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid e-mail address</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Username</label>
          <div class="col-md-8">
            <input class="form-control" type="text" name="username" [ngModel]="currUser.username">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">New password</label>
          <div class="col-md-8">
            <input class="form-control" type="password" name="password" ngModel minlength="8" #password="ngModel">
            <span class="help-block danger" *ngIf="!password.valid && password.touched">Password must be at least 8 characters</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="submit" class="btn btn-primary" value="Save Changes">
            |
            <input type="reset" class="btn btn-danger" value="Cancel" (click)="onCancel()">
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
